.fecha-hora-container {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fecha-hora-container h3 {
  margin-bottom: 10px;
}

.fecha-hora-container p {
  font-size: 24px;
  font-weight: bold;
}
